<div class="[ c-Menu__trigger ][ js-menu-trigger ]">
	<span class="[ c-Menu__trigger-row ]"></span>
	<span class="[ c-Menu__trigger-row ]"></span>
</div>

<section class="[ c-Menu ][ js-menu-panel ]">
	<div class="[ c-Menu__inner ]">
		<div class="[ c-Menu__col c-Menu__col--large ]">
			{% if navigation.items %}
				<nav class="[ c-Menu__nav ]">
					<ul class="[ c-Menu__list ][ u-List--bare ]">
						{% for item in navigation.items %}
							{% set target = 'target="_self"' %}
							{% set currentAttribute = '' %}
							{% if page.url == item.url%}{% set currentAttribute = ' aria-current="page"' %}{% endif %}
							{% if item.external == true %}{% set target = 'target="_blank" rel="noopener"' %}{% endif %}
							<li class="[ c-Menu__nav-item ]">
								<a href="{{ item.url }}"{{ target | safe }}{{ currentAttribute }} class="[ c-Menu__link ][ js-menu-link ]">{{ item.text }}</a>
							</li>
						{% endfor %}
					</ul>
				</nav>
				<div class="[ c-Menu__additional-info ]">
					<div class="[ c-Menu__contact-wrap ]">
						<p class="[ c-Menu__email ]">Email: <a href="mailto:support@hallx.co.uk">support@hallx.co.uk</a></p>
						<p class="[ c-Menu__phone ]">Phone: <a href="tel:08000828872">0800 082 8872</a></p>
					</div>
					<div class="[ c-Menu__social-wrap ]">
						<ul class="[ c-Menu__list ][ u-List--bare ]">
              <li><a href="https://www.linkedin.com/company/hallx" target="_blank" rel="noopener"><svg id="linkedin" xmlns="http://www.w3.org/2000/svg" width="439" height="439" viewBox="0 0 439 439"><path id="Path_78" data-name="Path 78" d="M292.1,308.033v-.018h.11v-161c0-78.764-16.956-139.437-109.037-139.437-44.266,0-73.971,24.291-86.1,47.321H95.8V14.927H8.489V308.015H99.4V162.889c0-38.211,7.243-75.16,54.564-75.16,46.625,0,47.321,43.607,47.321,77.612V308.033Z" transform="translate(146.789 130.967)"/><path id="Path_79" data-name="Path 79" d="M.4,7.977H91.415V301.064H.4Z" transform="translate(6.847 137.936)"/><path id="Path_80" data-name="Path 80" d="M52.717,0A52.733,52.733,0,0,0,0,52.717c0,29.1,23.615,53.21,52.717,53.21s52.717-24.108,52.717-53.21A52.756,52.756,0,0,0,52.717,0Z"/></svg></a></li>
              <li><a href="https://facebook.com/HallXLtd/" target="_blank" rel="noopener"><svg id="Bold" enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m15.997 3.985h2.191v-3.816c-.378-.052-1.678-.169-3.192-.169-3.159 0-5.323 1.987-5.323 5.639v3.361h-3.486v4.266h3.486v10.734h4.274v-10.733h3.345l.531-4.266h-3.877v-2.939c.001-1.233.333-2.077 2.051-2.077z"/></svg></a></li>
            </ul>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
</section>