<section class="[ c-PageHeader ]">
	<div class="[ c-PageHeader__inner ]">

		<?xml version="1.0" encoding="utf-8"?>
		<!-- Generator: Adobe Illustrator 24.3.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
		<svg class="[ c-PageHeader__logomark ]" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 679.6 1080.5" style="enable-background:new 0 0 679.6 1080.5;" xml:space="preserve"><path class="st0" d="M339.8,523.8L0,0v1080.5l339.8-509.1l339.8,509.1V0L339.8,523.8z M34,968.3V564.9h269.3L34,968.3z M34,530.9v-416l269.9,416H34z M645.6,114.9v416H375.7L645.6,114.9z M645.6,968.3L376.3,564.9h269.3V968.3z"/></svg>
		<div class="[ c-PageHeader__text-wrap ]">
			<h1 class="[ c-PageHeader__header ]">{{ PageHeaderHeader }}</h1>
			<p class="[ c-PageHeader__text ]">{{ PageHeaderCopy }}</p>
		</div>
	</div>
</section>