<div class="[ c-Quote {{ QuoteClasses }} ]">
	<div class="[ c-Quote__inner ]">
		<div class="[ c-Quote__wrap ]">
			<p class="[ c-Quote__text ]"><q>{{ QuoteText }}</q></p>
			<p class="[ c-Quote__by-text ]">{{ QuoteName }}, {{ QuotePosision }}</p>
		</div>
	</div>
</div>