<section class="[ c-TwoUpModule ]">
	<div class="[ c-TwoUpModule__inner ]">
		
		<div class="[ c-TwoUpModule__left ]">
			<div class="[ c-TwoUpModule__text-block ]">
				<h3 class="[ c-TwoUpModule__header ]">{{ TwoModuleHeaderLeft }}</h3>
				<p class="[ c-TwoUpModule__text ]">{{ TwoModuleTextLeft }}</p>
				<a href="{{ TwoModuleLinkUrlLeft }}" class="[ c-TwoUpModule__link ]">{{ TwoModuleLinkTextLeft }}</a>
			</div>
			<div class="[ c-TwoUpModule__img ]">
				<img src="/img/{{ TwoModuleImageLeft }}" srcset="/img/{{ TwoModuleImageLeft }}" alt="{{ TwoModuleImageAltLeft }}">
			</div>
		</div>
		<div class="[ c-TwoUpModule__right ]">
			<div class="[ c-TwoUpModule__text-block ]">
				<h3 class="[ c-TwoUpModule__header ]">{{ TwoModuleHeaderRight }}</h3>
				<p class="[ c-TwoUpModule__text ]">{{ TwoModuleTextRight }}</p>
				<a href="{{ TwoModuleLinkUrlLeft }}" class="[ c-TwoUpModule__link ]">{{ TwoModuleLinkTextLeft }}</a>
			</div>
			<div class="[ c-TwoUpModule__img ]">
				<img src="/img/{{ TwoModuleImageRight }}" srcset="/img/{{ TwoModuleImageRight }}" alt="{{ TwoModuleImageAltRight }}">
			</div>
		</div>
	</div>
</section>