// Form Styles
form {

	&:focus {
		outline: none;
	}
}

// blocks
.l-Form {
	width: 100%;
	position: relative;

	@include container();
	@include scale-property(padding-bottom, 100px, 250px);
}

.l-Form__inner {

	@include col-width(1, -1);

	@include media(">=medium") {

		@include col-width(3, 11);
	}
}

//elements
.l-Form__form {
	width: 100%;
	display: flex;
	position: relative;
	flex-wrap: wrap;
}

.l-FormCol {
	width: 100%;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: flex-start;
	position: relative;
}

//modifers
.l-FormCol--full {
	flex-wrap: wrap;
	justify-content: space-between;

	@include scale-property(margin-bottom, 20px, 40px);
	
	&:last-of-type {

		@include scale-property(margin-bottom, 40px, 80px);
	}
}

.l-FormCol--split {
	flex-wrap: wrap;
	width: 100%;

	&:first-of-type {
		@include scale-property(margin-bottom, 20px, 40px);
	}

	@include media(">=medium") {
		width: 48.5%;
		flex-wrap: nowrap;

		&:first-of-type {
			margin-bottom: 0;
		}
	}
}

.l-FormCol--hidden {
	display: none;
}

input[type="email"],
input[type="text"],
textarea {
	width: 100%;
	min-height: 60px;
	border-radius: 0;
	border-top: none;
	border-right: 0;
	border-left: 0;
	border-bottom: 1px solid rgba($c-black, 0.2);
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 0;


	&:focus {
		outline: none;
	}
}

label {
	position: absolute;
	left: 0;
	top: 28px;
	transition: 
		transform 300ms $t-standard-curve-alt, 
		top 300ms $t-standard-curve-alt, 
		opacity 300ms $t-standard-curve-alt;
	transform-origin: left top;

}

textarea {
	resize: vertical;
}

button {

	@include button($c-blue, $c-white);
}

.js-fake-placeholder {
	top: -15px;
	transform: scale(0.6);
	opacity: 0.6;
}
