---
layout: layouts/base.njk
---
<article class="[ l-CaseStudy ]">
  <div class="[ l-CaseStudy__inner ]">

    <div class="[ l-CaseStudy__header ]">
      {% include "../components/c-Hero.njk" %}
    </div>

    <div class="[ l-CaseStudy__left ]">
      {{ content | safe }}
    </div>

    <div class="[ l-CaseStudy__right ]">
      <div class="[ l-CaseStudy__results ]">
        <p class="[ l-CaseStudy__results-header ]">Results</p>
        {%- for item in resultArray -%}
          <p class="[ l-CaseStudy__results-text ]"><span>{{ item }}</span></p>
        {% endfor %}
        {%- if DownloadLink -%}
          <a href="/downloads/{{ DownloadLink }}" class="[ l-CaseStudy__results-link ]" download="w3logo">Download Case Study</a>
        {% endif %}
      </div>
    </div>

  </div>
</article>
