---
layout: layouts/base.njk
HeroImage: home-hero.jpg
HeroImageAlt: Distributing goods around the country
HeroSubHeader: Customer Service and Operations Outsourcing
HeroHeader: Ecom Storage, Shipping & Service Solutions
HeroText: Seamless customer experience & fulfilment solutions for ecommerce sellers of all sizes.
HeroLink: contact
HeroLinkText: Book your free consultation
QuoteText: We use HallX for all our logistics and customer service needs. We've found the service to be excellent, and HallX treat our brand as if it is their own, which we truly value.
QuoteName: Gemma Noble
QuotePosision: MD of Lidproject
---

{% include "../components/c-Hero.njk" %}

{% set TwoModuleHeaderLeft = 'We take care of the day-to-day so you can focus on what matters most.' %}
{% set TwoModuleTextLeft = "HallX is an all-in-one premium fulfillment & customer service solution for ecommerce. We treat our customers' businesses as though they are our own. Contact us today to book your free no obligation consultation with one of our directors." %}
{% set TwoModuleLinkUrlLeft = 'contact' %}
{% set TwoModuleLinkTextLeft = 'Book your free consultation' %}
{% set TwoModuleImageLeft = 'home-page-top.jpg' %}
{% set TwoModuleImageAltLeft = 'always here to help' %}

{% set TwoModuleHeaderRight = 'Has your business been impacted by Brexit? Are you experiencing delivery delays & customs issues?' %}
{% set TwoModuleTextRight = 'We offer an all-in-one software, transport, postal and customs solution for ecommerce sellers of all sizes.' %}
{% set TwoModuleLinkRightArray = [
	{ 
		url: '/posts/service-injection-eu-usa-aus/',
		text: 'UK sellers'
	},
	{ 
		url: 'page-2',
		text: 'EU sellers'
	}]
%}
{% set TwoModuleImageRight = 'warhouse-interior.jpg' %}
{% set TwoModuleImageAltRight = 'are warehouse ready for you' %}

{% include "../components/c-TwoUpModule.njk" %}

{% set CarouselItems = [
	{
		image: 'phone-call.jpg',
		imageAlt: 'alt text',
		name: 'Step 1 - Contact Us',
		description: 'Request your free, no-obligation consultation with one of our directors using the form below. We will organise a call at a time that is convenient to you, wherever you are in the world.',
		url: 'http://google.com',
		linkText: 'contact us'
	},
	{
		image: 'meeting.jpg',
		imageAlt: 'alt text',
		name: 'Step 2 - Discuss',
		description: 'Tell us about the issues you have in your business, and we will give advice on how we (or our trusted partners) can help you to solve all your operational woes.'
	},
	{
		image: 'paperwork.jpg',
		imageAlt: 'alt text',
		name: 'Step 3 - Quote',
		description: 'We provide a menu-based pricing structure tailored to your business. We charge a fee to cover our setup costs, a monthly basic that includes most of the services we mutually agree you will need, and everything else is pay-as-you-go (because we don’t believe in charging for services you don’t use).'
	},
	{
		image: 'computer-type.jpg',
		imageAlt: 'alt text',
		name: 'Step 4 - Setup',
		description: 'We work closely with you to integrate your new HallX services into your existing systems, together we craft a completely consistent, beautifully bespoke customer experience that your customers will want to keep coming back to. Don’t worry about downtime, we also provide complementary rapid-roll-out interim solutions so your services can continue uninterrupted while we work on crafting your dream customer experience.'
	}] 
%}

{% include "../components/c-Carousel.njk" %}

{% include "../components/c-Quote.njk" %}

{% set CarouselTitle = 'Our Services' %}
{% set CarouselItems = [
	{
		image: 'fulfilment-thumnail.jpg',
		imageAlt: 'fulfilment service image',
		name: 'Ecommerce Fulfilment',
		description: 'We provide an all-in-one ecommerce fulfilment service where we store, insure and ship your products to your customers for you.',
		url: '/posts/service-fulfilment/',
		linkText: 'read more'
	},
		{
		image: 'customer-service-thumbnail.jpg',
		imageAlt: 'custoimer service agents ready to help',
		name: 'Customer Service & Reputation Management',
		description: 'We offer full customer experience management which seamlessly integrates into your current customer service systems and process.',
		url: '/posts/service-customer-service/',
		linkText: 'read more'
	},
	{
		image: 'logistics-thumnail.jpg',
		imageAlt: 'cargo waiting to be loaded at a port',
		name: 'Logistics Management',
		description: 'At HallX solving your logistical problems is a complementary part of the service. Bring stock into our warehouse, move your stuff between suppliers, we can get your items where they need to be, when they need to be there.',
		url: '/posts/service-logistics/',
		linkText: 'read more'
	},
	{
		image: 'returns-thumbnail.jpg',
		imageAlt: 'checking the returned products',
		name: 'Returns Management',
		description: 'We can manage your returns process for you and reconsolidate them to make the returns process easier for customers and save you up to 20% vs processing case-by-case.',
		url: '/posts/service-returns/',
		linkText: 'read more'
	},
	{
		image: 'warehouse-thumnail.jpg',
		imageAlt: 'warehouse storage',
		name: 'Storage & Warehousing',
		description: 'Our monthly plans include a huge amount of free storage in our secure UK facility with 24/7 on-site security.',
		url: '/posts/service-storage-warehousing/',
		linkText: 'read more'
	},
	{
		image: 'dangerous-goods-thumbnail.jpg',
		imageAlt: 'dangerous goods warehouse worker',
		name: 'Dangerous Goods Shipping Services',
		description: 'Are you fulfilling a consumer commodity that is classed as a dangerous good? We can help with shipping and storing any dangerous goods as a qualified IATA dangerous goods shipper*.',
		url: '/posts/service-dangerous-goods/',
		linkText: 'read more'
	},
	{
		image: 'brexit-thumbnail.jpg',
		imageAlt: 'lorries queded up because of brexit',
		name: 'Brexit Services',
		description: 'Has your business been impacted by Brexit? Ask us how we can help by booking your free no obligation consultation today.',
		url: '/posts/service-brexit/',
		linkText: 'read more'
	},
	{
		image: 'uk-injection-thumnail.jpg',
		imageAlt: 'royal mail man delivering packages',
		name: 'Direct Injection Services to the UK',
		description: 'Are you an EU Webshop selling into the UK, struggling with customs complications post-brexit? We can help.',
		url: '/posts/service-injection-uk/',
		linkText: 'read more'
	},
	{
		image: 'eu-injection-thumbnail.jpg',
		imageAlt: 'German post vans ready and waiting',
		name: 'Direct Injection Services to the EU, USA, AUS',
		description: 'UK ecom seller? Choose HallX for hassle free delivery with no nasty surprises for your end customer - available across the EU, Continental US and Australia.',
		url: '/posts/service-injection-eu-usa-aus/',
		linkText: 'read more'
	},
	{
		image: 'shopify-thumbnail.jpg',
		imageAlt: 'shopify admin experiences improved',
		name: 'Shopify Admin',
		description: 'We’re able to administrate practically any aspect of a Shopify or wooCommerce site that is a difficulty for you, if you have a task you’re just sick of doing, why not contact us?',
		url: '/posts/service-shopify-admin/',
		linkText: 'read more'
	},
	{
		image: 'operations-thumbnail.jpg',
		imageAlt: 'we are ready to help',
		name: 'Operations Outsourcing',
		description: "Is there an element of running your business you hate doing, but you're not ready to give up all your ops? Let us know what you want to stop having to do and we will fit ourselves into your existing systems.",
		url: '/posts/service-operations-outsourcing/',
		linkText: 'read more'
	}]
%}

{% include "../components/c-Carousel.njk" %}
