---
layout: layouts/base.njk
permalink: "services/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
pagination:
  data: collections.posts
  size: 11
  alias: posts
  reverse: true
---

{% set PageHeaderHeader = 'Our Services' %}
{% set PageHeaderCopy = 'We offer a wide range of services for ecommerce sellers of all sizes. Each service we offer is available individually or we can build a bespoke package to suit your business.' %}

{% include "../components/c-PageHeader.njk" %}

<section class="[ c-PostList ]">
  <div class="[ c-PostList__grid ]">
    {%- for post in posts -%}
      <div class="[ c-PostList__item ]">
        <a href="{{ post.url }}">
          <div class="[ c-PostList__item-inner ]">
            <div class="[ c-PostList__image-wrap ]">
            	<img src="/img/{{ post.data.featuredImage }}" srcset="/img/{{ post.data.featuredImage }}" class="[ c-PostList__image ]" alt="{{ post.data.featuredImageAlt }}">
						</div>
            <p class="[ c-PostList__header ]">{{ post.data.title }}</p>
            <p class="[ c-PostList__intro ]">{{ post.data.shortDescription }}</p>
            <a href="{{ post.url }}" class="[ c-PostList__link ]">Read More</a>
          </div>
        </a>
      </div>
    {%- endfor -%}
  </div>
</section>

<!-- Pagination links -->
{# {% if pagination.links  | length > 1 %}
  <div class="[ l-Pagination ]">
    <div class="[ l-Pagination__inner ]">
      <div class="[ l-Pagination__wrap ]">
        {% if pagination.previousPageHref %}{% set paginationPreviousActive = 'l-Pagination__previous--active' %}{% endif %}
        <a class="[ l-Pagination__previous {{ paginationPreviousActive }} ]" href="{{ pagination.previousPageHref }}">Previous</a>
        <span class="[ l-Pagination__numbers ]">{{ pagination.pageNumber + 1 }} of {{ pagination.links | length  }}</span>
        {% if pagination.nextPageHref %}{% set paginationNextActive = 'l-Pagination__next--active' %}{% endif %}
        <a class="[ l-Pagination__next {{ paginationNextActive }} ]" href="{{ pagination.nextPageHref }}" >Next</a>
      </div>
    </div>
  </div>
{% endif %} #}
