---
title: "About"
layout: "layouts/page"
---

{% set PageHeaderHeader = 'About Us' %}
{% set PageHeaderCopy = 'HallX is an all-in-one premium fulfillment and customer service solution for ecommerce. We take care of the day-to-day so you can focus on what matters most.' %}

{% include "../_includes/components/c-PageHeader.njk" %}


{% set TwoModuleHeaderLeft = 'HallX was founded in 2019 as an all-in-one custom fulfillment & customer service solution for e-commerce stores.' %}
{% set TwoModuleTextLeft = 'Since then, we have been expanding our operations based on word of mouth recommendations from satisfied clients. HallX has built infrastructure that can help you solve most of your operational and service issues from day 1 of using our service.' %}
{% set TwoModuleLinkUrlLeft = 'contact' %}
{% set TwoModuleLinkTextLeft = 'Book your free consultation' %}
{% set TwoModuleImageLeft = 'phone-call-headset.jpg' %}
{% set TwoModuleImageAltLeft = 'man on the phone' %}

{% set TwoModuleHeaderRight = 'At HallX, we can actively change how your customers perceive your store.' %}
{% set TwoModuleTextRight = 'We increased the Trustpilot rating of a new client from 2.8 to 4.2 over a period of just 8 weeks. We did this without a single ‘grey hat’ tactic so that rating will last.' %}
{% set TwoModuleLinkUrlRight = 'case-studies/tayroc/' %}
{% set TwoModuleLinkTextRight = 'Read the Case Study' %}
{% set TwoModuleImageRight = 'warhouse-interior.jpg' %}
{% set TwoModuleImageAltRight = 'warehouse interior shot' %}

{% include "../_includes/components/c-TwoUpModule.njk" %}

{% set TextBlockHeaderType = 'h2' %}
{% set TextBlockCopy %}
	We can help you to import your products, store them securely, prepare and ship them to 99.9% of the world’s population with bespoke branding whilst providing UK-based customer service management for your business.
	<br/>
	<br/>
	We have access to preferential shipping rates and direct injection shipping services via our trusted shipping partners and networks. We can help you reduce your costs from lost parcels (even turning these into a revenue source for you) and handle your returns process in-house.
	<br/>
	<br/>
	With HallX all you need you to do is focus on your vision and bringing the customers in (although we do have partners who can help you with marketing too!).
	<br/>
	<br/>
	We treat our clients’ businesses as though they are our own. Contact us today to book your free no obligation consultation with one of our directors.
{% endset %}
{% set TextBlockHeaderLinkUrl = 'contact' %}
{% set TextBlockHeaderLinkText = 'Book your free consultation' %}

{% include "../_includes/components/c-TextBlock.njk" %}

