---
title: "Our Clients"
layout: "layouts/page"
---

{% set PageHeaderHeader = title %}
{% set PageHeaderCopy = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat tempor blandit. Fusce eget dui dolor. Integer dapibus id purus et sollicitudin. Fusce eget libero nec sapien.' %}

{% include "../_includes/components/c-PageHeader.njk" %}

{% set ThumbnailAndTextArray = [
	{
		Image: 'test-img-client.jpg',
		ImageAlt: 'Some image text here',
		Header: 'Client Name'
	},
	{
		Image: 'test-img-client.jpg',
		ImageAlt: 'Some image text here',
		Header: 'Client Name'
	},
	{
		Image: 'test-img-client.jpg',
		ImageAlt: 'Some image text here',
		Header: 'Client Name'
	},
	{
		Image: 'test-img-client.jpg',
		ImageAlt: 'Some image text here',
		Header: 'Client Name'
	},
	{
		Image: 'test-img-client.jpg',
		ImageAlt: 'Some image text here',
		Header: 'Client Name'
	},
	{
		Image: 'test-img-client.jpg',
		ImageAlt: 'Some image text here',
		Header: 'Client Name'
	},
	{
		Image: 'test-img-client.jpg',
		ImageAlt: 'Some image text here',
		Header: 'Client Name'
	},
	{
		Image: 'test-img-client.jpg',
		ImageAlt: 'Some image text here',
		Header: 'Client Name'
	},
	{
		Image: 'test-img-client.jpg',
		ImageAlt: 'Some image text here',
		Header: 'Client Name'
	}
]%}

{% include "../_includes/components/c-ThumbnailAndText.njk" %}




