---
title: "Our Partners"
layout: "layouts/page"
---

{% set PageHeaderHeader = title %}
{% set PageHeaderCopy = 'It takes a lot of moving parts to create a seamless service for our clients, here are some of our favourite people that we work with.' %}

{% include "../_includes/components/c-PageHeader.njk" %}

{% set ThumbnailAndTextArray = [
	{
		Image: 'rmlogo.jpg',
		ImageAlt: 'Some image text here',
		Header: 'Royal Mail'
	},
	{
		Image: 'dhl-client.jpg',
		ImageAlt: 'dhl company logo',
		Header: 'DHL'
	},
	{
		Image: 'dsv-client.jpg',
		ImageAlt: 'dsv company logo',
		Header: 'DSV'
	},
	{
		Image: 'dppp.jpg',
		ImageAlt: 'Deutschepost company logo',
		Header: 'Deutschepost'
	},
	{
		Image: 'route-client.jpg',
		ImageAlt: 'route insurance company logo',
		Header: 'Route Insurance'
	},
	{
		Image: 'swift-client.jpg',
		ImageAlt: 'swift marketing company logo',
		Header: 'Swift Movement Marketing'
	},
	{
		Image: 'dpd-client.jpg',
		ImageAlt: 'dpd company logo',
		Header: 'DPD'
	},
	{
		Image: 'shipster-client.jpg',
		ImageAlt: 'shipster company logo',
		Header: 'Shipster'
	}
]%}

{% include "../_includes/components/c-ThumbnailAndText.njk" %}




