---
title: "Contact Us"
description: 'A demo page for people getting in touch.'
bodyClass: "contact-page"
layout: "layouts/page"
---

{% set PageHeaderHeader = 'Contact Us' %}
{% set PageHeaderCopy = 'If you have any questions or would like to discuss how we can help your business, please get in touch with us. You can call us on 0800 082 8872 (0900-1800 Mon-Fri GMT) Email us on support@hallx.co.uk Or use our contact form below' %}

{% include "../_includes/components/c-PageHeader.njk" %}


<div class="[ l-Form ]">
	<div class="[ l-Form__inner ]">
		<form name="contact-form" action="https://usebasin.com/f/9b3cf42f37f5" method="POST" action="/success/">
			<div class="[ l-FormCol l-FormCol--full ]">
				<div class="[ l-FormCol l-FormCol--split ]">
					<input name="name" type="text" id="name" class="[ js-form-field ]">
					<label for="name">Name</label>
				</div>
				<div class="[ l-FormCol l-FormCol--split ]">
					<input name="email" type="email" id="email" class="[ js-form-field ]">
					<label for="email">Email</label>
				</div>
			</div>
			<div class="[ l-FormCol l-FormCol--full ]">
				<textarea name="comment" id="comment" rows="1" class="[ js-form-field ]"></textarea>
				<label for="comment">Message</label>
			</div>
			<button type="submit">Submit form</button>
		</form>
	</div>
</div>