---
title: "Privacy Policy"
layout: "layouts/page"
---

{% set PageHeaderHeader = title %}
{% set PageHeaderCopy = 'This privacy policy sets out how HallX uses and protects any information that you provide to us when you use this website.' %}

{% include "../_includes/components/c-PageHeader.njk" %}

{% set TextBlockHeader = 'UNLESS YOU CHOOSE TO CONTACT US, WE AND OUR PARTNERS DO NOT STORE ANY OF YOUR DATA. FULL STOP.'%}
{% set TextBlockHeaderType = 'h2' %}
{% set TextBlockCopy %}
	We physically can’t. We have nowhere to store it. We don’t even have a server database to store it.
	<br>
	<br>
	If you do choose to contact us, this is directly emailed to us, where it is securely stored by Google 
	(and we even delete that within 1 year, unless you choose to work with us).
	<br>
	<br>
	We will never sell or share your data without your permission, and we don't even leave cookies on your 
	PC when you visit our site (that's why we don't need you to click a GDPR checkbox like every other site 
	you've visited today)

{% endset %}

{% include "../_includes/components/c-TextBlock.njk" %}