---
title: "Success"
description: "Thank you for being awesome."
layout: "layouts/page"
PageClass: success-page
---

{% set PageHeaderHeader = 'Thank you' %}
{% set PageHeaderCopy = 'we will be in touch soon.' %}

{% include "../_includes/components/c-PageHeader.njk" %}
