---
title: "Tayroc"
shortDescription: "In 2014, the owners of Tayroc set out to create “a timepiece that was a stylish, affordable and true representation of its wearer”."
featuredImage: "tayrock-case-study-thumbnail.jpg"
featuredImageAlt: "tayrock mens watch"
HeroImage: tayrock-case-study.jpg
HeroImageAlt: HeroImageAlt
HeroSubHeader: Sub Header
HeroHeader: Case Study Header
DownloadLink: #
resultArray: 
  - Turned more than 90% of Tayroc’s eligible 1 star reviews into 5 star reviews 
  - Increased Tayroc’s Trustpilot rating from 2.8 to 4.2
  - Significantly reduced return rates 
  - New Shipping rules built into Tayroc’s saving them money 
  - Route partnership resulted in an 80% reduction in tracking requests & loss reports 
  - Decreased average customer response time by over 90%
---

{% set TextBlockHeader = 'The Business' %}
{% set TextBlockHeaderType = 'h2' %}
{% set TextBlockCopy %}
	In 2014, the owners of Tayroc set out to create “a timepiece that was a stylish, affordable and true 
	representation of its wearer”. Fast forward a few years and after achieving growth, the scaling business 
	began to experience problems which led to dissatisfied customers. Gemma Noble from Lidproject stepped 
	on the scene after seeing an opportunity in the brand and made it her mission to turn things around.
{% endset %}

{% include "../_includes/components/c-TextBlock.njk" %}

{% set TextBlockHeader = 'Overview' %}
{% set TextBlockHeaderType = 'h2'%}
{% set TextBlockCopy %}
	Tayroc’s previous customer service team began to get really behind on customer service email, and this resulted 
	in late orders, mistakes not getting corrected before dispatch and ignored communications. To add to this, their 
	fulfilment centre stopped fulfilling orders, and due to how behind the CS team was, this was never communicated 
	to the end customers. This resulted in customer satisfaction plummeting and eventually a ‘poor’ Trustpilot rating 
	of 2.8/5. The business also had issues with packaging and other problems causing unnecessary product failures.
{% endset %}

{% include "../_includes/components/c-TextBlock.njk" %}

{% set TextBlockHeader = 'Solutions '%}
{% set TextBlockHeaderType = 'h3'%}
{% set TextBlockCopy %}
	Gemma got HallX on board to help her transform Tayroc into the popular brand it is today and this is how we did it.
	<br/>
	<br/>
	<h4>Customer Service</h4>
	<ul>
		<li>We individually tracked down every dissatisfied reviewer and provided friendly customer service and solutions which they were happy with</li>
		<li>The HallX team followed up every single missed email in the last 3 months, personally reading and responding to each communication</li>
		<li>Moved Tayroc to a more seamless ticketless customer service system</li>
		<li>Started fulfilling all back orders and chasing up every lost package that had been sent</li>
		<li>Utilised customer service data to understand areas of improvement and found low and no-cost solutions to every problem</li>
		<li>Generated a knowledge base with FAQs</li>
		<li>Requested reviews from satisfied customers</li>
	</ul>
	<br/>
	<br/>
	<h4>Fulfilment</h4>
	<ul>
		<li>Handled the fulfilment of all orders from our insured and high security inventory storage including product prep, quality control, packaging, shipping and returns</li>
		<li>Reduced shipping fees with DHL, one of our trusted shipping partners</li>
		<li>Set Tayroc up with our partner, Route, to generate additional revenue from lost packages</li>
		<li>Researched and supplied better and smaller packaging to drop average shipment cost by up to £3</li>
	</ul>
{% endset %}
{% set TextBlockHeaderLinkUrl = 'contact' %}
{% set TextBlockHeaderLinkText = 'Contact Us' %}

{% include "../_includes/components/c-TextBlock.njk" %}