---
title: "Storage & Warehousing"
shortDescription: "Our monthly plans include a huge amount of free storage in our secure UK facility with 24/7 on-site security."
featuredImage: "warehouse-thumnail.jpg"
featuredImageAlt: "warehouse storage"
---

{% set HeroImage = 'warehouse-large.jpg' %}
{% set HeroImageAlt = 'Warhouse loading bay' %}
{% set HeroHeader = title %}
{% set HeroSubHeader = 'Our Services' %}
{% set HeroText = shortDescription %}

{% include "../_includes/components/c-Hero.njk" %}

{% set TextBlockHeader = 'Storage & Warehousing UK Facility'%}
{% set TextBlockHeaderType = 'h2' %}
{% set TextBlockCopy %}
	Our monthly plans include a huge amount of free storage in our secure UK facility with 24/7 on-site security.
	<br/>
	<br/>
	We offer free storage and warehousing with all our monthly fulfilment plans. Our secure warehouse has a 
	24/7/365 on-site security team, a barbed wire perimeter fence and 24/7/365 monitored CCTV with police 
	response on call in the event of a break-in. 
	<br/>
	<br/>
	We also include insurance which will cover your stock up to 45,000 pounds sterling (against the cost price) 
	for fire and theft. Unlike many other fulfilment operators, this insurance is the correct “goods in trust” 
	insurance which means that you can have us ship for you, safe in the knowledge that you will directly receive 
	the payout in the event of a claim, even if we were to go out of business. 
	<br/>
	<br/>
	This insurance is provided by Towergate and underwritten by Royal & Sun Alliance Insurance plc (No.93792), with 
	full documentation available on request. Insurance in excess of £45,000 will be passed on at cost + a 5% 
	administration fee.


{% endset %}
{% set TextBlockHeaderLinkUrl = 'contact' %}
{% set TextBlockHeaderLinkText = 'Book your free consultation' %}

{% include "../_includes/components/c-TextBlock.njk" %}