---
title: "Brexit Services"
shortDescription: "Has your business been impacted by Brexit? Ask us how we can help by booking your free no obligation consultation today."
featuredImage: "brexit-thumbnail.jpg"
featuredImageAlt: "lorries queded up because of brexit"
date: 2021-01-24
---

{% set HeroImage = 'brexit-large.jpg' %}
{% set HeroImageAlt = 'uk lorry driving on motorway' %}
{% set HeroHeader = title %}
{% set HeroSubHeader = 'Our Services' %}
{% set HeroText = shortDescription %}

{% include "../_includes/components/c-Hero.njk" %}

{% set TextBlockHeader = 'Having Issues Because of Brexit?'%}
{% set TextBlockHeaderType = 'h2' %}
{% set TextBlockCopy %}
Has your business been impacted by Brexit? Are you experiencing delivery delays for your orders being shipped to the EU or imports arriving from the EU? We can help your business get through these uncertain times, coming out stronger on the other side with improved service quality and increased end-customer satisfaction. Through our partnerships with Deutschepost and Avalara we are able to help you to register for the new EU IOSS and HMRC PVA schemes to allow you to skip the customs queues, charge in-country VAT at checkout and deliver your goods to customers without a tax bill arriving first. 
<br>
<br>
All this with the added advantage that our best-in-class shipping rates often mean our service works out cheaper than shipping the items yourself.
{% endset %}
{% set TextBlockHeaderLinkUrl = 'contact' %}
{% set TextBlockHeaderLinkText = 'Book your free consultation' %}

{% include "../_includes/components/c-TextBlock.njk" %}