---
title: "Direct Injection Services to the EU, USA, AUS"
shortDescription: "UK ecom seller? Choose HallX for hassle free delivery with no nasty surprises for your end customer - available across the EU, Continental US and Australia."
featuredImage: "eu-injection-thumbnail.jpg"
featuredImageAlt: "german post vans ready and waiting"
date: 2019-11-25
---

{% set HeroImage = 'eu-injection-large.jpg' %}
{% set HeroImageAlt = 'ups van in new york' %}
{% set HeroHeader = title %}
{% set HeroSubHeader = 'Our Services' %}
{% set HeroText = shortDescription %}

{% include "../_includes/components/c-Hero.njk" %}

{% set TextBlockHeader = 'Direct EU, USA & AUS Injection Services'%}
{% set TextBlockHeaderType = 'h2' %}
{% set TextBlockCopy %}
	UK ecom seller? Choose HallX for hassle free delivery with no nasty surprises for your end customer - available across 
	the EU, Continental US and Australia
	<br/>
	<br/>
	We can receive and consolidate items here in the UK for you and precharge an estimated customs fee. We then customs 
	clear the consolidated materials and put the items onto a truck (or a plane for US and Australia). Our partner receives 
	it in the destination country and pushes it into the local postal service for you on arrival. We use the closest 
	partner to your customer to deliver your package as quickly as possible.
	<br/>
	<br/>
	<i>EU</i>
	<br/>
	We have contracts and partnerships with DPD, Deutschepost, PostNL, bpost, Hermes and more to ensure your packages are 
	delivered quickly and safely. We can also receive local returns within the EU and reconsolidate them to make the returns 
	process easier for customers and save you up to 20% vs processing case-by-case. Please see our Returns Management page 
	for more information.
	<br/>
	<br/>
	<i>USA</i>
	<br/>
	Our USA service partners with DHL and Deutschepost to span more than 40 mail centers in 38 states, meaning your package 
	spends minimal time in the local postal network and avoids postal surcharges levied by the US government on foreign traffic. 
	This service typically arrives in 3-8 business days, but is priced in line with an economy service that would often take 
	15-22 working days.
	<br/>
	<br/>
	<i>Australia</i>
	<br/>
	This service is coming soon and will be provided via the same partnerships as our US Direct service. If you are interested 
	in consolidating your d2c shipments to Australia, please register your interest via our contact form and we will let you 
	know once we have this available.

{% endset %}
{% set TextBlockHeaderLinkUrl = 'contact' %}
{% set TextBlockHeaderLinkText = 'Book your free consultation' %}

{% include "../_includes/components/c-TextBlock.njk" %}