---
title: "Dangerous Goods Shipping Services"
shortDescription: "Are you fulfilling a consumer commodity that is classed as a dangerous good? We can help with shipping and storing any dangerous goods as a qualified IATA dangerous goods shipper*."
featuredImage: "slider-test.jpg"
featuredImageAlt: "Alt text is here"
---
{% set HeroImage = 'tyroc-case-study.jpg' %}
{% set HeroImageAlt = 'service header featured Image' %}
{% set HeroHeader = title %}
{% set HeroSubHeader = 'Our Services' %}
{% set HeroText = shortDescription %}

{% include "../_includes/components/c-Hero.njk" %}

{% set TextBlockHeader = 'Dangerous Goods Shipping Services'%}
{% set TextBlockHeaderType = 'h2' %}
{% set TextBlockCopy %}
	Are you fulfilling a consumer commodity that is classed as a dangerous good? We can help with shipping and 
	storing any dangerous goods as a qualified IATA dangerous goods shipper.
	<br/>
	<br/>
	We have competitive EQ and LQ rates already in place throughout Europe and will offer the option to ship 
	full quantity dangerous goods by road, air and sea via our contracts by the end of January 2021.
{% endset %}
{% set TextBlockHeaderLinkUrl = 'contact' %}
{% set TextBlockHeaderLinkText = 'Book your free consultation' %}

{% include "../_includes/components/c-TextBlock.njk" %}